<h3>Multiple Module</h3>
<button class="btn btn-primary" routerLink="/first">Module1</button>
<button  class="btn btn-primary" routerLink="/second">Module2</button>
<button  class="btn btn-primary" routerLink="/my-component">Module3</button>
<button  class="btn btn-primary" routerLink="/ajax-call">Module4</button>
<button  class="btn btn-primary" routerLink="/tab-five">Module5</button>
<button  class="btn btn-primary" routerLink="/tab-six">Module6</button>
<button  class="btn btn-primary" routerLink="/tab-seven">Module7</button>
<button  class="btn btn-primary" routerLink="/tab-eight">Module8</button>
<!--<ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>-->
<!--step 3 for date picker -->
<router-outlet></router-outlet>
<!-- <second-comp><second-comp> -->
    <!-- <first-comp></first-comp> -->